.aw-slider .sliderlist .mangroup {
	text-align: right;
	padding: 5px 0;
	border-bottom: 1px solid #DCDEE4;
}
.aw-slider .sliderlist .editform {
	border: none;
}
.aw-slider .sliderlist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}

.aw-slider .sliderlist .elrow {
	position: relative;
	border-bottom: 1px solid #DCDEE4;
	cursor: pointer;
	font-size: 13px;
}
.aw-slider .sliderlist .elrow:hover {
	background-color: #FFF0C6;
}

.aw-slider .sliderlist .elrow table.tline {
	width: 100%;
}

.aw-slider .sliderlist .elrow .tline td.chk {
	padding: 8px 0 7px 5px;
	width: 14px;
}
.aw-slider .sliderlist .elrow .tline td.tl {
	padding: 5px 0 7px 10px;
}
.aw-slider .sliderlist .elrow .tline td.tl .tln {
	height: 18px;
	position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.aw-slider .sliderlist .elrow .shadow {
    background: url("/modules/slider/images/shadow.png") repeat-y scroll 0 0 transparent;
    width: 16px;
	height: 1.3em;
    position: absolute;
    right: 0; top: 3px;
}
.aw-slider .sliderlist .elrow:hover .shadow {
    background: url("/modules/slider/images/shadow-row.png") repeat-y scroll 0 0 transparent;
}

/* * * Menu * * */
.aw-slider .sliderlist .elrow .elrmenu {
	position: absolute;
    display: none;
    right: 1px;
    top: 3px;
}
.aw-slider .sliderlist .elrow:hover .elrmenu {
	display: block;
}
